
APP_NAME="Mini RAG App"
APP_VERSION=

FILE_ALLOWED_TYPES=[
    "application/pdf",
    "text/plain"
] 
FILE_MAX_SIZE=10 #Adjust the maximum file size in MB as needed
FILE_DEFAULT_CHUNK_SIZE=1000 #Size of each chunk in bytes for processing large files. Adjust as needed.